.myBtn {
    background: #FEC400;
    color: #ffffff;
    border-radius: 5px;
    width: 214px;
    height: 34px;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    min-width: 160px;
}

.myBtn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
}
.myBtn__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.myBtn:hover {
    box-shadow: 0.2rem .2rem 0.5rem rgba(0,0,0,.10)!important;
}

.myBtn:disabled {
    background: #ebebeb;
    cursor: unset;
}

.myBtn:hover:disabled {
    box-shadow:unset !important;
}