.form__row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.form__title{
    min-width: 100px;
    text-align: right;
}

.form__input {
    padding: 8px 14px;
    border: 1px solid #DFE0EB;
    border-radius: 6px;
    width: 100% !important;
    min-width: 300px;
}

@media screen and (max-width: 560px) {
    .form__row {
        flex-wrap: wrap;
    }
    .form__title{
        text-align: left;
        margin-top: 10px;
    }
}

